target/
*.class
*.log
*.war
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
.factorypath

# batch work dirs
batch/c/work/
batch/java/work/

# OS
.DS_Store
Thumbs.db
